
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Lavishly+Yours&family=Roboto:wght@300&display=swap');
.home{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   /* height: 700px; */
}
.body{
    display: flex;
    /* justify-content: space-around; */
    /* gap: 200px; */
}
.welcomeMessage{
   margin-top: 100px;
    margin-bottom: 100px;
   display: flex;
   justify-content: space-around;
   width: 100%;
}
.message{
    text-align: left;
    padding-left: 10px;
}
.message , .welcomeimg{
    width: 50%;
}

.doctor, .patient{
    font-family: "DynaPuff", system-ui;
        font-optical-sizing: auto;
        font-weight:600;
        font-size: 40px;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;

            border: 1px solid black;
                padding-left: 75px;
                padding-right: 75px;
                border-radius: 50px;
}


/* Modal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Dim the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

